.movie-list-container {
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.movie-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.movie-list h1 {
    text-align: center;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.load-more-button {
    display: block;
    width: 10%;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #ba0303;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

.load-more-button:hover {
    background-color: #7b0000;
}

load-more-button:onclick {
    transform: scale(.95);
    transition: transform 0.1s ease-in-out;
}
